.wrapper__gamedetails {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card__gamedetails {  
    display: flex;
    text-align: center;
    width: 70vw;
    background-color: rgba(157, 56, 252, 0.479);
    align-self: center;
    margin: 2rem;
    border-radius: 2rem;
    border-radius: 2rem;
    border-color: rgb(167, 81, 247);
    border-style: solid;
    border-width: 3px;
}

.card__gamedetails__img {
    width: 40vw;
    border-radius: 2rem;

}

.card__gamedetails__description {
    width: max-content;
    padding: 3rem;
    color: rgb(101, 253, 13);
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bolder;
}

